Q19) Write an SQL query to determine the 5th highest salary without using TOP or limit method.

Ans) 

SELECT MIN(EmpSalary) from ( SELECT EmpSalary from Employee ORDER BY EmpSalary DESC LIMIT 5 );

Q20) Write an SQL query to fetch the list of employees with the same salary.

Ans) 

SELECT s1.Name, s1.Station, s1.Salary FROM Staff s1 INNER JOIN Staff s2 ON s1.Salary = s2.Salary AND s1.Name <> s2.Name